body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  user-select: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 错误提示样式 */
#mes .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 100px;
  font-size: 20px;
}

/* 左边部分开始 */
.scalable {
  position: relative;
  background-color: #fff;
  min-width: 250px;
  max-width: 350px;
}

@media screen and (max-width: 900px) {
  .scalable {
    display: none;
  }
}

.scalable .separator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
}


/* 账户管理模态框开始 */
.scalable .user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-bottom: 4px solid #F4F4F4;
}

.scalable .user:hover {
  background-color: #eee;
}

#users-management .modal-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
}

#users-management .title {
  margin-top: -10px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

#users-management .users {
  margin-top: -10px;
  border-bottom: 1px solid #ccc;
}

#users-management .users li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  font-size: 16px;
}

#users-management .users li:hover {
  background-color: #eee;
}

#users-management li span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 60px;
  height: 25px;
  color: #fff;
  background-color: #FC4B66;
  font-size: 14px;
  cursor: pointer;
}

#users-management .add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

/* 账户管理模态框结束 */


/* 登录注册模态框开始 */
#logon .modal-content {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  height: 300px;
}

#logon .modal-content .logo {
  width: 35%;
}

#logon .modal-content input {
  margin-top: 25px;
  padding-left: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

#logon .modal-content .toggle {
  position: absolute;
  right: 25px;
  bottom: 70px;
  color: #FD5553;
  cursor: pointer;
}

#logon .modal-content .logon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  height: 40px;
  background-color: #FD5553;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/* 登录注册模态框结束 */



/* 列表样式开始 */
.scalable .lists li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.scalable .lists .current {
  background-color: #F5F5F5;
}

.scalable .lists li span {
  display: block;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.scalable .lists input {
  outline: none;
  border: 1px solid #ccc;
  font-size: 18px;
  padding-left: 10px;
}

/* 列表样式结束 */

/* 回收站 */
.scalable .recyclebin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.scalable .recyclebin span {
  margin-right: 2px;
  font-size: 20px;
  color: #ccc;
}

.scalable .handle {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 5px #000;
}

.scalable .handle::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.scalable .handle li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.scalable .handle li:hover {
  background-color: #f5f5f5;
}

/* 新建清单 模态框开始 */
.scalable .addlist {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: left;
  color: #FD5553;
  border-top: 1px solid #F4F4F4;
  background-color: #fff;
  cursor: pointer;
}

#addlistModal .modal-title {
  text-align: center;
}

#addlistModal input {
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  width: 80%;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
}

#addlistModal .modal-body {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 10px 0;
  margin-top: 50px;
}

#addlistModal .modal-body span {
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}

#addlistModal .modal-body span:nth-child(1) {
  background-color: #D2DFE0;
}

#addlistModal .modal-body span:nth-child(2) {
  background-color: #204E87;
}

#addlistModal .modal-body span:nth-child(3) {
  background-color: #3CC6ED;
}

#addlistModal .modal-body span:nth-child(4) {
  background-color: #FFB03F;
}

#addlistModal .modal-body span:nth-child(5) {
  background-color: #842D73;
}

#addlistModal .modal-body span:nth-child(6) {
  background-color: #EE316B;
}

#addlistModal .modal-body span:nth-child(7) {
  background-color: #FFD426;
}

#addlistModal .modal-body span:nth-child(8) {
  background-color: #93D04F;
}

#addlistModal .modal-body span:nth-child(9) {
  background-color: #F36F8E;
}

#addlistModal .modal-body span:nth-child(10) {
  background-color: #9372B9;
}

#addlistModal .modal-body span:nth-child(11) {
  background-color: #85FFDA;
}

#addlistModal .modal-body span:nth-child(12) {
  background-color: #5CE5AA;
}

#addlistModal .modal-body span:nth-child(13) {
  background-color: #8924E7;
}

#addlistModal .modal-body span:nth-child(14) {
  background-color: #3673FF;
}

#addlistModal .modal-body span:nth-child(15) {
  background-color: #FD51D9;
}

#addlistModal .cancel,
#addlistModal .confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  float: right;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#addlistModal .confirm {
  border: none;
  background-color: #FD5553;
  color: #fff;
}

/* 新建清单 模态框结束 */


/* 左边部分结束 */



/* 右边部分开始 */
.main {
  flex: 1;
  position: relative;
  padding: 0 40px 40px;
  background-color: #F3F4F6;
}

.main h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-family: "fm";
}

.main .title {
  font-size: 30px;
  color: #000;
}

.main input {
  padding-left: 10px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
}

.main .listcontent {
  margin-top: 10px;
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow: auto;
}

.main .listcontent li,
.main .bin-con li {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 8px 0;
  background-color: #fff;
  border-radius: 2px;
  border: 0.5px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

.main .listcontent li:hover,
.main .bin-con li:hover {
  background-color: #f5f5f5;
}

.main .listcontent li span,
.main .bin-con li span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.main .listcontent li div,
.main .bin-con li div {
  font-size: 12px;
  color: #ccc;
}

.main .listcontent li i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.main .listcontent .hidedone {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  font-size: 12px;
  background-color: #D4D4D4;
  color: #fff;
}

.main .bin-con {
  display: none;
  width: 100%;
  height: 100px;
  min-height: 80vh;
  max-height: 80vh;
  overflow: auto;
}

.main .cover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #F3F4F6;
}

/* 清单项右键菜单 */
.youjian {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
}

.youjian .mc,
.youjian .mc ul {
  width: 100%;
  height: 100%;
}

.youjian .mc li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  cursor: pointer;
}

.youjian .mc li:hover {
  background-color: #f5f5f5;
}

.youjian .mc li:nth-child(4) {
  background-color: #FC505D;
  color: #fff;
}

.youjian .mc li:nth-child(3):hover .yxj {
  display: block;
}

.youjian .yxj {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  left: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
}

.youjian .yxj ul {
  height: 100%;
  width: 100%;
}

.youjian .yxj ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33.33%;
  cursor: pointer;
}

.youjian .yxj ul li:hover {
  background-color: #f5f5f5;
}

/* 清单右键菜单 */
.youjian2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}

.youjian2 ul {
  width: 100%;
  height: 100%;
}

.youjian2 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.youjian2 ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.youjian2 ul li:nth-child(2) {
  background-color: #FC505D;
  color: #fff;
}